<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Event's Details</title>
    <style>
        body {
            background-image: url('/img/tenniscourt1.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    </style>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"><span th:text="${event.name}" class="font-weight-bold"></span></h5>
        </div>
        <div class="card-body">
            <p class="card-text">Created By: <span th:text="${event.user.name}"></span></p>
            <p class="card-text">Description: <span th:text="${event.description}"></span></p>
            <p class="card-text">Participants number: <span th:text="${event.max_amount_participants}"></span></p>
            <p class="card-text">Start Time: <span th:text="${#temporals.format(event.dateTimeStart, 'dd-MM-yyyy HH:mm')}"></span></p>
            <p class="card-text">End Time: <span th:text="${#temporals.format(event.dateTimeEnd, 'dd-MM-yyyy HH:mm')}"></span></p>
            <p class="card-text">Location: <span th:text="${event.location}"></span></p>
            <p class="card-text">Created at: <span th:text="${#dates.format(event.timestamp, 'dd-MM-yyyy HH:mm')}"></span></p>
        </div>
    </div>
    <a th:href="@{/teams/{id}(id=${team.id})}" class="btn btn-info mt-3">Return</a>

    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Add a Comment</h5>
        </div>
        <div class="card-body">
            <form th:action="@{/events/{id}/comments(id=${event.id})}" method="post">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="text" placeholder="Enter your comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Comments</h5>
        </div>
        <div class="card-body">
            <div th:each="comment : ${event.comments}">
                <div class="media mb-3">
                    <img src="https://via.placeholder.com/50" class="mr-3 rounded-circle" alt="User Avatar">
                    <div class="media-body">
                        <h5 class="mt-0" th:text="${comment.user.name}"></h5>
                        <p th:text="${comment.text}"></p>
                        <p class="text-muted" th:text="${#temporals.format(comment.commentedAt, 'dd-MM-yyyy HH:mm')}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
